Summer [noun]
[+]
[adj] [noun]s [verb] to and fro
[prep] the [noun]s of [adj] hills;
[noun]-[verb]ed [noun], [adj]-[noun]ed, in its woe
[adj]ly down-[verb]ing, its [adj] [noun] spills
Upon the [noun]. A [verb]ing [noun] fills
The [adj] [noun] of [noun] with [verb]ing bars
Of [adj] [noun], where the [noun] distils
Its [noun]ed [noun].—Hark! No [noun] mars
The utter [noun] of the [verb]ed stars.
[+]
"Summer Silence," by ee cummings
[+]
https://www.poets.org/poetsorg/poem/summer-silence