Summer <word class="noun" />
[+]
<word class="adj" /> <word class="noun" data-num="pl" /> <word class="verb" data-num="pl" /> to and fro
<word class="prep" /> the <word class="noun" data-num="pl" /> of <word class="adj" /> hills;
<word class="noun" />-<word class="verb" data-tense="past" /> <word class="noun" />, <word class="adj" />-<word class="noun" />ed, in its woe
<word class="adj" />ly down-<word class="gerund" />, its <word class="adj" /> <word class="noun" /> spills
Upon the <word class="noun" />. A <word class="gerund" /> <word class="noun" /> fills
The <word class="adj" /> <word class="noun" /> of <word class="noun" /> with <word class="gerund" /> bars
Of <word class="adj" /> <word class="noun" />, where the <word class="noun" /> distils
Its <word class="noun" />ed <word class="noun" />.—Hark! No <word class="noun" /> mars
The utter <word class="noun" /> of the <word class="verb" data-tense="past" /> stars.
[+]
"Summer Silence," by ee cummings
[+]
https://www.poets.org/poetsorg/poem/summer-silence