Haiku
[+]
a south wind
[verb]ing my [noun] [adj]
for this [noun]

[adj] [noun]s
the [adj] [noun] tries again
to [verb] [noun]

When will I [verb], [verb]
the [noun] of my [noun], [verb] my [noun]s, 
and [verb] to the [noun]s?


[noun]
[verb]ing the [noun]
a [adj] [noun]
[+]
Miscellaneous
[+]
Miscellaneous