Lines
[+]

The [noun]s and [noun]s.
The [noun]s, [noun]s, [noun]s, and [adj]
	[noun] of [noun]s.
The [adj] [noun] of [noun].
The [noun] [prep], the [noun]
	of [noun] and [noun]s.
The [noun] [noun] -- [noun]s,
	[noun]s, [noun]s, a [noun] from [noun].
The [noun]-colored [noun].
The [noun] with its [verb]ed [adj] [noun].
The [noun] of the [noun].
The [noun]s.


The intricate headboard, backed
	with a sheen of dust.
The footboard you hated, that always
	caught your ankles.
The ocean-colored rug we bought  from
	that women who loved everyone.
The dresser my neighbor abandoned.
The hangers, tangled on the floor
	like ruins.
The room where I left you crying
	night after night.
The shower curtain.
The mysteries undersink.
The towels (only two now).
The box of tools.
The bottomless bag of screws.
The couch.
The bones of the couch.
The plates, wrapped in the newspapers
	I started gathering when I knew.
The silverware in a single freezer bag.
The coats. 
The broom and mop.
The sleeping bag and the empty bottles.
The bones in my chest.
The moving truck, and the procession.
The house revealing itself, box by box.
The things abandoned.
The walkthrough, with its many
	resident shadows.
The shadow of you in that room.
The shadow of the cat at the bottom
	of the stairs.
The shadow of the bed.
The keys laid out like coins in a well.
The street laid out in two directions.
The shadow of you in the window.
The rain.
The lifeboat.
The bucket of tears.
The dawn.
The shore.


[+]
Miscellaneous
[+]
Miscellaneous