Seven <word class="noun" data-num="pl /> Of <word class="noun" />
[+]
All the <word class="noun" />'s a <word class="noun" />,
And all the <word class="noun" data-num="pl /> and <word class="noun" data-num="pl /> merely <word class="noun" data-num="pl />,
They have their <word class="noun" data-num="pl /> and <word class="noun" data-num="pl />,
And one <word class="noun" /> <word class="prep" /> his <word class="noun" /> <word class="verb" /> many <word class="noun" data-num="pl />,
His <word class="noun" data-num="pl /> <word class="gerund" /> seven <word class="noun" data-num="pl />. At first the <word class="noun" />,
<word class="gerund" /> and <word class="gerund" /> <word class="prep" /> the <word class="noun" />'s <word class="noun" data-num="pl />.
Then, the <word class="gerund" /> <word class="noun" /> <word class="prep" /> his <word class="noun" />
And <word class="prep" /> <word class="noun" />, <word class="gerund" /> like <word class="noun" />
<word class="gerund" />ly <word class="prep" /> <word class="noun" />. And then the <word class="noun" />,
<word class="gerund" /> like <word class="noun" />, <word class="prep" /> a <word class="adj" /> <word class="noun" />
<word class="verb" data-tense="past" /> to his <word class="noun" />'s <word class="noun" />. Then a <word class="noun" />,
<word class="adj" /> <word class="prep" /> <word class="adj" /> <word class="noun" data-num="pl />, and <word class="verb" data-tense="past" /> like the <word class="noun" />,
<word class="adj" /> <word class="prep" /> <word class="noun" />, <word class="adj" />, and <word class="adj" /> <word class="prep" /> <word class="noun" />,
<word class="gerund" /> the <word class="adj" /> <word class="noun" />
Even <word class="prep" /> the <word class="noun" />'s <word class="noun" />. And then the <word class="noun" />
<word class="prep" /> <word class="adj" /> <word class="adj" /> <word class="noun" />, with <word class="adj" /> <word class="noun" /> <word class="verb" data-tense="past" />,
With <word class="noun" data-num="pl /> <word class="adj" />, and <word class="noun" /> of <word class="adj" /> <word class="noun" />,
<word class="adj" /> of <word class="adj" /> <word class="noun" data-num="pl />, and <word class="adj" /> <word class="noun" data-num="pl />,
And so he <word class="verb" /> his <word class="noun" />. The sixth <word class="noun" /> <word class="verb" />
<word class="prep" /> the <word class="adj" /> and <word class="verb" data-tense="past" /> <word class="noun" />,
With <word class="noun" data-num="pl /> on <word class="noun" />, and <word class="noun" /> on <word class="noun" />,
His <word class="noun" />ful <word class="noun" /> well <word class="verb" data-tense="past" />, a <word class="noun" /> too <word class="adj" />,
For his <word class="adj" /> <word class="noun" />, and his <word class="adj" /> <word class="noun" />ly <word class="noun" />,
<word class="gerund" /> again <word class="prep" /> <word class="noun" />ish <word class="noun" />, <word class="noun" data-num="pl />
And <word class="noun" data-num="pl /> <word class="prep" /> his <word class="noun" />. Last <word class="noun" /> of all,
That <word class="verb" /> this <word class="adj" /> <word class="noun" />ful <word class="noun" />,
is <word class="adj" /> <word class="noun" />ishness and <word class="adj" /> <word class="noun" />,
Sans <word class="noun" data-num="pl />, sans <word class="noun" data-num="pl />, sans <word class="noun" />, sans everything.
[+]
"The Seven Ages Of Man," by William Shakespeare
[+]
http://quotations.about.com/cs/poemlyrics/a/Seven_Ages_Of_M.htm
