Seven [noun]s Of [noun]
[+]
All the [noun]'s a [noun],
And all the [noun]s and [noun]s merely [noun]s,
They have their [noun]s and [noun]s,
And one [noun] [prep] his [noun] [verb]s many [noun]s,
His [noun]s [gerund] seven [noun]s. At first the [noun],
[gerund] and [gerund] [prep] the [noun]'s [noun]s.
Then, the [gerund] [noun] [prep] his [noun]
And [prep] [noun], [gerund] like [noun]
[gerund]ly [prep] [noun]. And then the [noun],
[gerund] like [noun], [prep] a [adj] [noun]
[verb]ed to his [noun]'s [noun]. Then a [noun],
[adj] [prep] [adj] [noun]s, and [verb]ed like the [noun],
[adj] [prep] [noun], [adj], and [adj] [prep] [noun],
[gerund] the [adj] [noun]
Even [prep] the [noun]'s [noun]. And then the [noun]
[prep] [adj] [adj] [noun], with [adj] [noun] [verb]ed,
With [noun]s [adj], and [noun] of [adj] [noun],
[adj] of [adj] [noun]s, and [adj] [noun]s,
And so he [verb]s his [noun]. The sixth [noun] [verb]s
[prep] the [adj] and [verb]ed [noun],
With [noun]s on [noun], and [noun] on [noun],
His [noun]ful [noun] well [verb]ed, a [noun] too [adj],
For his [adj] [noun], and his [adj] [noun]ly [noun],
[gerund] again [prep] [noun]ish [noun], [noun]s
And [noun]s [prep] his [noun]. Last [noun] of all,
That [verb]s this [adj] [noun]ful [noun],
[verb] [adj] [noun]ishness and [adj] [noun],
Sans [noun]s, sans [noun]s, sans [noun], sans everything.
[+]
"The Seven Ages Of Man," by William Shakespeare
[+]
http://quotations.about.com/cs/poemlyrics/a/Seven_Ages_Of_M.htm
