This is just to <word class="verb" data-num="pl" />
[+]
I have <word class="verb" data-tense="past" />
the <word class="noun" data-num="pl" />
that were <word class="prep" />
the <word class="noun" />

and which
you were probably
<word class="gerund" />
<word class="prep" /> <word class="noun" />

Forgive me
they were <word class="adj" />
so <word class="adj" />
and so <word class="adj" />
[+]
"This is just to say," by William Carlos Williams
[+]
http://plagiarist.com/poetry/1048/