Leda and the [noun]
[+]
A sudden [noun]: the great [noun]s [gerund] still
[prep] the [gerund] girl, her [noun]s caressed
[prep] the [adj] [noun]s, her [noun] [verb]ed [prep] his bill,
He [verb]s her [adj] [noun] [prep] his breast.

How can those [adj] [adj] [noun]s push
The [adj] [noun] [prep] her [gerund] thighs?
And how can [noun], [verb]ed [prep] [adj] rush,
But [verb] the [adj] [noun] [gerund] where it lies?

A [noun] [prep] the [noun] [verb]s there
The [verb]ed [noun], the [gerund] [noun] and tower
And Agamemnon [verb]ed.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Being so caught up,
So [verb]ed [prep] the [adj] [noun] of the air,
Did she [verb] on his [noun] with his power
Before the [adj] [noun] could let her drop? 
[+]
"Leda and the Swan," by William Butler Yeats
[+]
http://plagiarist.com/poetry/427/