Leda and the <word class="noun" />
[+]
A sudden <word class="noun" />: the great <word class="noun" data-num="pl" /> <word class="gerund" /> still
<word class="prep" /> the <word class="gerund" /> girl, her <word class="noun" data-num="pl" /> caressed
<word class="prep" /> the <word class="adj" /> <word class="noun" data-num="pl" />, her <word class="noun" /> <word class="verb" data-tense="past" /> <word class="prep" /> his bill,
He <word class="verb" /> her <word class="adj" /> <word class="noun" /> <word class="prep" /> his breast.

How can those <word class="adj" /> <word class="adj" /> <word class="noun" data-num="pl" /> push
The <word class="adj" /> <word class="noun" /> <word class="prep" /> her <word class="gerund" /> thighs?
And how can <word class="noun" />, <word class="verb" data-tense="past" /> <word class="prep" /> <word class="adj" /> rush,
But <word class="verb" data-num="pl" /> the <word class="adj" /> <word class="noun" /> <word class="gerund" /> where it lies?

A <word class="noun" /> <word class="prep" /> the <word class="noun" /> <word class="verb" /> there
The <word class="verb" data-tense="past" /> <word class="noun" />, the <word class="gerund" /> <word class="noun" /> and tower
And Agamemnon <word class="verb" data-tense="past" />.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Being so caught up,
So <word class="verb" data-tense="past" /> <word class="prep" /> the <word class="adj" /> <word class="noun" /> of the air,
Did she <word class="verb" data-num="pl" /> on his <word class="noun" /> with his power
Before the <word class="adj" /> <word class="noun" /> could let her drop? 
[+]
"Leda and the Swan," by William Butler Yeats
[+]
http://plagiarist.com/poetry/427/